body {
  margin: 0;
  display: flex;
  justify-self: center;
  align-items: center;
}
html{
  font-size: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
